.root {
    -fx-text-fill: rgb(189, 155, 63);
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: rgb(55, 56, 56);
}

#welcomeText {
    -fx-text-fill: white;
}

#headerButtonBar {
    -fx-text-fill: white;
    -fx-background-color: black;
}

Label {
    -fx-text-fill: rgb(189, 155, 63);
}

#headerJobsLabel {
    -fx-text-fill: rgb(189, 155, 63);
    -fx-font-size: 30px;
}

#addJobLabel {
    -fx-text-fill: rgb(189, 155, 63);
    -fx-font-size: 30px;
    -fx-padding: 10, 10, 10, 10;
}

.tab-pane .tab {
    -fx-background-color: rgb(116, 116, 118);
}

.tab-pane .tab:selected {
    -fx-background-color: rgb(189, 155, 63);
}

.table-view .column-header .label{
    -fx-background-color: rgb(116, 116, 118);
}

.table-view .column-header .label{
    -fx-text-fill: rgb(189, 155, 63);
}

Button {
    -fx-background-color: rgb(189, 155, 63);
    -fx-text-fill: white;
    -fx-padding: 5, 10, 5, 10;
}

#textId {
    -fx-text-fill: white;
}

Pane {
    -fx-text-fill: white;
}

#createInvoiceButton {
    -fx-padding: 10, 10, 10, 10;
}

#createAndSendInvoiceButton {
    -fx-padding: 10, 10, 10, 10;
}

#separatorHBoxId {
    -fx-padding: 10, 10, 10, 10;
}

#separatorHBoxTwoId {
    -fx-padding: 10, 10, 10, 10;
}
