<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Abrechnung</title>
        <style>
            * {
                background-color: rgb(55, 56, 56);
                color: rgb(189, 155, 63);
            }
            #invoiceNumberTextId {
                color: white;
            }
            #billTextId {
                color: white;
            }
            dd {
                color: white;
            }
        </style>
    </head>
    <body>
        <p>
            <img src="cid:printassist-logo" width="327" height="43" alt="logo"/>
        </p>
        <h1>Abrechnung</h1>
        <p>Rechnungsnummer:</p><p id="invoiceNumberTextId">{{invoiceNumber}}</p>
        <p>Abrechnung für </p><p id="billTextId">{{firstName}} {{lastName}}</p>
        <b></b>
        <dl>
            <dt>Email-Adresse:</dt>
            <dd>{{emailAddress}}</dd>
            <dt>Telefon-Nummer:</dt>
            <dd>{{phoneNumber}}</dd>
            <dt>Drucker-Typ</dt>
            <dd>{{printerType}}</dd>
        </dl>
        <br>
        <dl>
            <dt>Datum:</dt>
            <dd>{{date}}</dd>
            <dt>Begonnen:</dt>
            <dd>{{startTime}}</dd>
            <dt>Abgeschlossen:</dt>
            <dd>{{endTime}}</dd>
        </dl>
        <br>
        <p>Leistungen erbracht: </p>
        <p>{{invoiceDetails}}</p>
        <p>Gesamtpreis: {{total}} EURO</p>
    </body>
</html>